# code-matlab
*.*~
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.asv
code-matlab/shared/datatypes/tsd/UnionTSD.m

.vscode
nelpy/.vscode

# code-python
*.pyc
Thumbs.db
.DS_Store
.idea/
_build
build
dist
*.eggs/
*.egg-info/
.ipynb_checkpoints/
.cache/
.playground/
setup-old.py

temp